* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* #home {
    width: 100%;
    height: 100vh;
  } */

#nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 10vw;
}

#nleft {
  display: flex;
  gap: 30px;
}

#nav a {
  font-weight: 400;
  color: rgb(10, 10, 10);
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

#nav #center {
  color: black;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15vw;
  padding: 0vw 10vw;
  /* background-color: green   ; */
}

#sustain {
  width: 10vw;
}

#sustain p {
  text-transform: capitalize;
  font-weight: 800;
  line-height: 1;
  opacity: 0.5;
  font-size: 12px;
  margin: 10px 0;
}
#sustain #susimagewrapper {
  /* this width inherits parent size */
  width: 100%;
  height: 15vw;
  position: relative;
  overflow: hidden;
}

#susimagewrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#ephemeral {
  position: relative;
  width: 30vw;
  min-height: 42vw;
}
#ephemeral h1 {
  letter-spacing: -0.4vw;
  font-size: 7vw;
  font-weight: 100;
  line-height: 1;
}

#ephemeral #headings {
  opacity: 0.9;
  color: #3b3737c2;
  top: -24%;
  left: -18.5%;
  position: absolute;
}

#imgntext {
  width: fit-content;
  height: fit-content;
}
#ephemeral img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#ephemeral p {
  margin-top: 20px;
  font-size: 1.3vw;
  letter-spacing: -0.07vw;
  line-height: 1.2;
  width: 40%;
}

#circleV {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: 1px solid #b2b2b3;
}

#circleV i {
  color: #b2b2b3;
}

#visit {
  display: flex;
  gap: 10px;
  align-items: center;
}
#visit h3 {
  font-weight: 400;
  color: #b2b2b3;
}

#motive {
  margin-top: 7vw;
  padding: 3vw 10vw;
  /* padding-top: 30v; */
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
#motive h3 {
  font-size: 25px;
  font-weight: 400;
  color: #b2b2b3;
}
#motive p {
  font-size: 2vw;
  font-weight: 400;
  position: relative;
  right: -12vw;
  text-align: right;
  width: 85%;
  line-height: 1.4;
  letter-spacing: -0.15 px;
}

#motive span {
  display: inline-block;
  border-radius: 100px;
  margin: 0 13px;
  margin-bottom: -15px;
  /* align-items: center;  */
}
#onespan {
  width: 80px;
  height: 45px;
  background-image: url(imagesnvideo/orange.webp);
  background-size: cover;
  background-position: 0 60%;
}
#twospan {
  width: 95px;
  height: 50px;
  background-image: url(imagesnvideo/hands.webp);
  background-size: cover;
  background-position: center;
}
#threespan {
  width: 80px;
  height: 45px;
  background-image: url(imagesnvideo/grass.webp);
  background-size: cover;
  background-position: 0 60%;
}

#pictures {
  display: flex;
  justify-content: space-between;
  margin-top: 5vw;
  padding: 3vw;
  padding-left: 14vw;
  padding-right: 12vw;
}
#firstpic {
  width: 17vw;
}

#firstpic #picimg {
  width: 100%;
  height: 25vw;
  margin-bottom: 1vw;
}

#firstpic h1,
#secpic h1 {
  letter-spacing: -0.1vw;
  font-weight: 100;
  font-size: 2vw;
}
#firstpic p,
#secpic p {
  opacity: 0.8;
  font-size: 1vw;
  letter-spacing: -0.07vw;
  line-height: 1;
  margin-top: 1vw;
}

#picimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#secpic {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 27vw;
}
#secpic #picimg {
  width: 100%;
  height: 37vw;
  margin-bottom: 1vw;
}

#secpic p {
  width: 50%;
  text-align: right;
}

#banner {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8vw;
}

#bimg {
  width: 65%;
  height: 70vh;
  /* background-color: red; */
}
#bimg img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
#btext {
  width: 35%;
  padding: 0px 3vw;
}
#btext h1 {
  font-size: 2.4vw;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.1vw;
}
#btext p {
  margin-top: 20px;
  width: 60%;
}

#future {
  /* overflow: hidden; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

#future video {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#ftxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 99999;
  background-color: #fff;
  padding: 1vw 3vw;
  border-radius: 30px;
}

#ftxt button {
  margin-top: 11px;
  padding: 0.8vw 1.8vw;
  font-size: 0.6vw;
  text-transform: capitalize;
  background-color: white;
  border: 1px solid #949292;
  color: rgb(120, 110, 110);
  border-radius: 100px;
  font-weight: 700;
}
